* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

nav {
    background: #F3D7B7;

}

.header {
    width: 1738px;
    height: auto;
    padding: 40px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

li {
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;

    a {
        text-decoration: none;
        color: #333333;
    }
}

.hero {
    background: #F3D7B7;
}

.hero-content {
    width: 1738px;
    padding: 40px;
    display: flex;
    margin: 0 auto;
}

body {
    background: #fff6eb;
    font-family: Roboto, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;

    .col-6 {
        width: 50%;

        position: relative;

        .title {
            font-size: 64px;
            font-weight: 700;
            line-height: 100%;
        }

        p {

            margin-top: 40px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }

        .btn {
            background: #0A775F;
            border-radius: 100px;
            font-weight: 500;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            margin-top: 30px;
            padding: 16px 24px;
        }

        .little {
            width: 200px;
            height: 200px;
            display: flex;
            z-index: 999;
            position: absolute;
            top: -80px;
            left: -80px;
            animation: spin 3s linear infinite;
        }

        .hero {
            width: 100%;
            position: relative;
        }
    }
}

.titles{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.card {

    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 120px;
}

.left {
    width: 372px;
    height: 364px;
    margin: 50px;
}

.right {
    width: 50%;

}
.right h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}

.right p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 20px;
}

.left img {
    width: 100%;
    height: 100%;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.footer {
    width: 100%;
    background: #F3D7B7;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
        ul {
            display: flex;
            gap: 50px;

            li {
                a {
                    text-decoration: none;
                    color: #333333;
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
    }
    .social {
        display: flex;
        gap: 30px;

        i {
            font-size: 24px;
            color: #333333;
        }
    }
}

.card .right {
    width: 50%;
    padding-left: 40px;
}

.card2 {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #C99B67;
    padding: 25px;
    position: relative;

}

.img__left {
    bottom: 250px;
    height: 510px;
    position: relative;
    padding-left: 15px;

}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fff6eb;
}
.cardss {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #C99B67;
}

.link a {
    text-decoration: none;
    color: #333333;
}

